[submodule "AndroidProject"]
	path = AndroidProject
	url = https://github.com/bigStocka10836449/Android.git
[submodule "k8s-infra"]
	path = k8s-infra
	url = https://github.com/bigStocka10836449/k8s-infra.git
